html {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: lavender;
}

.main {
    border: 5px black solid;
    border-radius: 25px;
    border-width: 1em;
    width: 1000px;
    padding: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin: auto;
}

.header {
    font-size: 28px;
    color: rebeccapurple;
}

.header.index {
    font-size: 28px;
    color: rebeccapurple;
    text-align: center;
}

ul li {
    margin-bottom: 15px;
    font-size: 18px;    
}

.links {
    background-color: lightgreen;
    border: black solid;
    display: flex;
    padding: 10px;
    padding-right: 50px;
    width: fit-content;
    margin: auto;
}

button {
    background-color: lightgreen;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}