html {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: lavender;
}

.main {
    background-color: lavenderblush;
    border: 5px black solid;
    border-radius: 25px;
    border-width: 1em;
    width: 1000px;
    padding: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin: auto;
}

.header {
    font-size: 28px;
    color: rebeccapurple;
    text-decoration: underline;
}

.header.title{
    font-size: 28px;
    color: rebeccapurple;
    text-align: center;
    text-decoration: none;
}

.links {
    background-color: lavender;
    border: black solid;
    display: flex;
    padding: 10px;
    padding-right: 50px;
    width: fit-content;
    margin: auto;
    font-size: 18px;  
    line-height: 150%;
}

button {
    background-color: lavender;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin-top: 20px;
    margin-bottom: -20px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.description {
    border: black solid;
    border-radius: 25px;
    border-width: .2em;
    width: auto;
    margin-top: 20px;
    padding: 10px;
}

.ingredients {
    border: black solid;
    border-radius: 25px;
    border-width: .2em;
    width: auto;
    margin-top: 20px;
    padding: 10px;
}

.steps {
    border: black solid;
    border-radius: 25px;
    border-width: .2em;
    width: auto;
    margin-top: 20px;
    padding: 10px;
}